<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div id="contact_id">
	<div id="contact_p1">
		This page show the author of Yomazon.
	</div>
	<br>
	Author: <a href="https://github.com/yomaytk">yomaytk</a>
	<br>
	email: ym.atonement.oy999@gmail.com
</div>

