<div class="center jumbotron">
	<h1>Yomazon</h1>
	
	<h2>
		This is shopping site!
  </h2>
	<%= link_to "新規登録", '#', class: "btn btn-lg btn-primary" %>
	<br>
	<br>
	<%= link_to image_tag("net_shopping_pc.png", alt: "Rails logo") %>
</div>
