@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 50px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
	text-align: center;
	
}

h2 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 2em;
  line-height: 1.7em;
}

/* background */

.bg_test-text {
	border:  solid 1px;                             /* 枠線指定 */
	display:  inline-block;                         /* インラインブロックにする */
	padding: 10px 20px;                             /* 余白指定 */
	background-color: rgba(255, 255, 255, 0.7);     /* 背景色指定 */
}
.bg_test {
	text-align:  center;    /* 文字中央寄せ */
	padding:  150px;        /* 余白指定 */
	border: solid 2px;      /* 枠線指定 */
}
.bg_test {
	background-image: url(b080.jpg);    /* 背景画像指定 */
}

.jumbotron {
	padding-top: 50px;
	background: url(b080.jpg);
}

/* footer */

footer {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 45px;
	padding-top: 5px;
	font-size: 2em;
	border-top: 1px solid $gray-medium-light;
	color: $gray-light;
	a {
		color: $gray;
		&:hover {
			color: $gray-darker;
		} 
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

#contact_id{
	font-size: 2em;
}

#contact_p1{
	text-align: center;
}

.nav{
	font-size: 1.2em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}