<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%# 
		<%= link_to "Yomazon", root_path, id: "logo" %>
		%>
	<nav>
		<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "ログイン", '#', method: :post %></li>
		<li><%= link_to "ログアウト", '#' %></li>
		</ul>
	</nav>
	</div>
</header>